.wd-post-text{
    color: var(--bs-gray-100);
    font-weight: lighter;
}

.wd-paragraph-border {
    border-style: solid;
    border-width: 1px;
    border-color: var(--bs-gray-600);
    border-radius: 2em;
    padding: 1em;
    color: var(--bs-gray-100);

}

.wd-game-header {
    border-radius: 2em;
    border-style: solid;
    margin-bottom: 3px;
    border-width: 1px;
    border-color: var(--bs-gray-600);


}