.wd-post-text{
    color: var(--bs-gray-100);
    font-weight: lighter;
}

.wd-tag-text {
    font-weight: normal;
}

.wd-paragraph-border {
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--bs-gray-600);
    border-radius: 2em;
    padding: 1em;
    color: var(--bs-gray-100);

}

.wd-game-header {
    border-radius: 2em;
    border-style: solid;
    margin-bottom: 3px;
    border-width: 0.5px;
    border-color: var(--bs-gray-600);


}

.wd-avatar-border {
    border-style: solid;
    border-width: 1px;
    border-color: var(--bs-gray-500) !important;
}

p.wd-html-container  img {
    width: 100%;
    height: auto;
}